@import "../../style/variable";

.header{
    background-color: $primary;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    
    h2{
        color: white !important;
        font-weight: 300;
    }
    .content-wrap{
        align-items: center;
        margin: 10px;
        .header-name{
            cursor: pointer;
        }
        .header-search{
            margin-left: 2rem;
            position: relative;
            padding: 5px;
            border-radius: 30px;
            background-color: $grey;
            input{
                margin: 0rem 2rem ;
                border: none;
                background-color: $grey;
                &:focus{
                    outline: none;
                }
            }
            .search-icon{
            position: absolute;
            left: 10px;
            top: 8px;
            }
        }
        
    }
    .header-icon{
        align-items: center;
        .add-pro-btn{
            padding: 0;
            border-radius: 50%;
            height: 30px;
            width: 30px;
        }
        .header-account{
            width: 30px;
            height: 30px;
            display: inline-block;

            background: $grey;
            border-radius: 50%;

            text-align: center;
            
            cursor: pointer;
            p{
                margin-top: 5px;    
            }
        }

        .icon-dropdown{
            position: absolute;
            top: 3rem;
            right: 10px;
            background-color: #fff;
            div{
                padding: 5px 10px;
                cursor: pointer;

                &:hover{
                    background: #eee;
                }
            }
        }

        .btn{
            &:hover{
                cursor: pointer;
            }
        }
    }
}