@import "../../style/variable";

.header {
  background-color: $primary;
  height: 3rem;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white !important;
    font-weight: 300;
  }
  .content-wrap {
    align-items: center;
    margin: 10px;
    .header-name {
      cursor: pointer;
    }
    .header-search {
      margin-left: 2rem;
      position: relative;
      padding: 5px;
      border-radius: 30px;
      background-color: $grey;
      input {
        margin: 0rem 2rem;
        border: none;
        background-color: $grey;
        &:focus {
          outline: none;
        }
      }
      .search-icon {
        position: absolute;
        left: 10px;
        top: 8px;
      }
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
      margin-left: 10px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      input:checked + .slider {
        background-color: #111;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #111;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        &.round {
          border-radius: 34px;

          &:before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  .header-icon {
    align-items: center;
    .add-pro-btn {
      padding: 0;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
    .header-account {
      width: 30px;
      height: 30px;
      display: inline-block;

      background: $grey;
      border-radius: 50%;

      text-align: center;

      cursor: pointer;
      p {
        margin-top: 5px;
      }
    }

    .icon-dropdown {
      position: absolute;
      top: 3rem;
      right: 10px;
      background-color: #fff;
      div {
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background: #eee;
        }
      }
    }

    .btn {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
