@import '_variable.scss';
@import '_reset.scss';

.d-flex-row{
    display: flex;
    flex-direction: row;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}

.p-1{
    padding: 10px;
}
.m-1{
    margin: 10px;
}
.primary{
    background-color: $primary;
}
.secondary{
    background-color: $secondary;
}
.danger{
    background-color: $danger;
}
.grey{
    background-color: $grey;
}
.info{
    background-color: $info;
}

