@import '../../style/variable';

.layer{
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.6);

    .ProjectInfo{
        width: 550px;
        min-height: 500px;
        padding: 20px;

        background-color: #fff;

        display: flex;
        flex-direction: column;
        z-index: 10;

        .header{
            display: flex;
            justify-content: space-between;
            h2{
                color: #000;
            }

        }

        .information{
            margin-top: 20px;

            p{
                margin-bottom: 20px;
                color: #000;
            }

            .basic, .time{
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;

                h5{
                    color: #000;
                }
            }

            .time{
                margin: 0;
            }

        }

    }
}